<!--welcome partial-->
<div class="bottom">
    <div class="welcome-main">Welcome to the Restaurant</div>
    <div class="welcome-sub">You can start by choosing categories on top of the page</div>
</div>